.portfolio {
	@include module;
	margin: 1rem auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	header {
		width: 100%;
		text-align: center;
		margin: 1rem 0 2rem 0;
		h3 { font-size: 1.6rem; font-weight: 400; display: inline-block; padding: 0.5rem 2rem; border-bottom: 2px solid $base; }
	}
	> div {
		width: 90%;
		@include tablet { width: 32%; }
		text-align: center;
		margin-bottom: 2rem;
		h4 { font-family: $open; margin-bottom: 0.5rem; }
		a {
			width: 100%;
			padding: 1rem;
			border: 1px solid $light;
			overflow: hidden;
			img { @include trans; }
			&:hover img { transform: scale(1.1); }
		}
	}

}
